* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Josefin Sans";

  display: flex;
  flex-direction: column;
  background-color: var(--body-bc);

  /* Light Mode colors */
  --body-bc: #f2f2f2;
  --content-bc: #fff;
  --input-color: #9495a5;
  --completed-todo-color: #9495a5;
  --todo-color: #494c6b;
  --footer-color: #9495a5;
  --footer-hover-color: #494c6b;
  --content-shadow-color: rgba(194, 195, 214, 0.5);
  --border-color: #e3e4f1;
}

.dark-mode {
  /* Dark Mode colors */
  --body-bc: #101010;
  --content-bc: #25273d;
  --input-color: #767992;
  --completed-todo-color: #767992;
  --todo-color: #c8cbe7;
  --footer-color: #5b5e7e;
  --footer-hover-color: #e3e4f1;
  --content-shadow-color: rgba(0, 0, 0, 0.5);
  --border-color: #393a4b;
}

.btn,
.icon {
  cursor: pointer;
}

.header__img {
  width: 100%;
}

.content {
  position: relative;
  width: 54rem;
  margin: -23rem auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  cursor: pointer;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~  Section Content Header  ~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.section--content__header {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.content__header {
  display: flex;
  justify-content: space-between;
}

.header--title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 40px;
  letter-spacing: 1.5rem;
  color: #ffffff;
  user-select: none;
  cursor: pointer;
}

.search-field {
  display: flex;
  gap: 2.4rem;
  align-items: center;

  /* padding: 2rem 2.4rem; */
  padding: 0.1rem 2.4rem;
  background: var(--content-bc);
  box-shadow: 0px 35px 50px -15px var(--content-shadow-color);
  border-radius: 5px;
  overflow: hidden;
}

.search-input {
  padding: 2rem 0;
  width: 100%;
  outline: none;
  border: none;

  font-family: inherit;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.8rem;
  letter-spacing: -0.25px;
  color: var(--input-color);
  background-color: var(--content-bc);
  caret-color: #3a7cfd;
}

.search-input::placeholder {
  font-weight: 400;
  line-height: 1.8rem;
  letter-spacing: -0.25px;
  color: var(--input-color);
}

.todo__title {
  font-family: inherit;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.8rem;
  letter-spacing: -0.25px;
  color: var(--todo-color);
  text-transform: capitalize;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Check Icons   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* .checkbox--border {
  display: grid;
  justify-content: center;
  align-content: center;

  background: #e3e4f1;
  border-radius: 50%;
  padding: 0.7px;
  overflow: hidden;
} */

.checkbox__input,
.checkbox {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: var(--content-bc);
  border: 1px solid var(--border-color);

  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.checkbox__input:hover,
.checkbox:hover {
  border-color: #3a7bfd74;
}

.active-checkbox {
  background: linear-gradient(135deg, #55ddff 0%, #c058f3 100%) !important;
}

/* -----------------  Checkbox Input  ---------------- */

.checkbox__input {
  -webkit-appearance: none;
  height: 24px;
  width: 26px;
}

.checkbox__input::after {
  display: none;
  content: url(images/icon-check.svg);
  transform: translate(2%, 2%);
}

.checkbox__input:checked {
  background: linear-gradient(135deg, #55ddff 0%, #c058f3 100%) !important;
}
.checkbox__input:checked::after {
  display: block;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~  Section Content Hero  ~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.section--content__hero {
  display: flex;
  flex-direction: column;
  background: var(--content-bc);
  box-shadow: 0px 35px 50px -15px var(--content-shadow-color);
  border-radius: 5px;
  overflow: hidden;
}

.todo--list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.todo__item {
  width: 100%;
  padding: 2rem 2.4rem;
  outline: none;
  border: none;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--content-bc);
  border-bottom: 1px solid var(--border-color);
}

.todo-main-inside {
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

.completed-todo {
  text-decoration: line-through !important;
  color: var(--input-color);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  Footer  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.footer {
  display: flex;
  justify-content: space-between;
  padding: 16px 2.4rem;
  align-items: center;

  font-family: inherit;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4rem;
  letter-spacing: -0.194444px;
  color: var(--footer-color);
  user-select: none;
}

.info--todo-list {
  cursor: pointer;
  display: flex;
  gap: 6px;
}

.control-buttons {
  display: flex;
  gap: 2rem;
  font-weight: 700;
  background-color: var(--content-bc);
}

.mobil-media__buttons {
  display: none !important;
  margin-top: 16px;
  padding: 1.5rem 0;
  font-family: inherit;
  font-size: 1.4rem;
  line-height: 1.4rem;
  letter-spacing: -0.194444px;
  color: var(--footer-color);
  background: var(--content-bc);
  box-shadow: 0px 35px 50px -15px var(--content-shadow-color);
  border-radius: 5px;

  display: flex;
  justify-content: center;
}

.active--control-btn {
  color: #3a7cfd !important;
}

.btn:hover {
  color: var(--footer-hover-color);
}

.container--footer {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.container--footer-text {
  font-family: inherit;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4rem;
  text-align: center;
  letter-spacing: -0.194444px;
  color: var(--footer-color);
}

.hidden {
  display: none;
}

@media only screen and (max-width: 500px) {
  .header__img {
    width: 100%;
    height: 20rem;
  }
  .content {
    width: 32.7rem;
    margin: -15rem auto;
    gap: 1.6rem;
  }

  .todo__item,
  .search-input {
    padding: 1.4rem 2rem;
  }

  .search-input,
  .todo__title {
    font-size: 1.2rem;
  }

  .checkbox__input {
    width: 27px;
  }

  .search-field {
    gap: 0;
    padding-left: 1.9rem;
  }

  .control-buttons {
    position: absolute;
    width: 32.7rem;
    bottom: -6rem;
    left: 0;

    padding: 16px 2.4rem;
    box-shadow: 0px 35px 50px -15px var(--content-shadow-color);
    border-radius: 5px;

    display: flex;
    justify-content: center;
  }

  .container--footer {
    position: absolute;
    width: 32.7rem;
    left: 0;
    bottom: -15rem;
    display: flex;
    justify-content: center;
  }
}
